* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
    width: 100%;
}

.container {
    max-width: 1180px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.topheader {
text-decoration: none;
}

.menutop>li {
    list-style: none;
    display: inline-block;
    padding-right: 30px;  
}

.menutop {
    text-align: center;
}   

.menutop a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    line-height: 16px;
}

.middleheader, .socialcontact {
    display: inline-block;
    background: white;
    width: 100%;   
}

button, .btn{
    display: inline-block;
    width: 170px;
    border-radius: 40px;
    padding: 11px 20px;
    border: 2px solid #F13C6E;
    color: black;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    background: #FFFFFF;
    text-align: center;
    
}

.logo {
    display: inline-block;
    padding: 20px;
}

.phone {
    text-decoration: none;
    padding-right: 40px;
    color: black;
}

 #picture{
    max-width: 100%;
    height: auto;
}


.call {
    float: right;
    margin: 40px;  
}
.bottom{
    background-color: white;
    border-top: 1px solid #EFEFEF;
    padding-top: 30px;
    padding-bottom: 30px;  
}

.menubottom{
   text-align: center;
}
.menubottom li {
    list-style: none;
    display: inline-block;
}



.menubottom a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding-right: 40px;
    line-height: 19px;   
} 




.img1{
    position: absolute;
    display: block;
    max-width: 100%; 
    max-height: 100%;
    z-index: 1;
    top: 0;
    right: 0; 
    bottom: 0; 
    left: 0;   
}

 .blackchair{
    display:block;
    margin: auto;
    height: auto;
    width:auto;
    position: relative;  
 }

h1{
    font-size: 48px;
    line-height: 56px;   
} 

.image{
    position: relative;
    z-index: 1;
    min-height: 604px;
    overflow: hidden;
    background-color: #F13C6E;   
}

.info { 
    position: absolute;
    z-index: 2;
    top: 192px;
    color: white;
}

.info>span{
    font-size: 14px;
    line-height: 20px;
}
   
.price{
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.05em;    
    display: block;
}

.btn{
    background: #F13C6E;
    border:2px solid white;
    color: white;
}

.section2>h2{
    font-style: 24px;
    line-height: 28px;
}

.product-item {
    width: 255px;
    text-align: center;
    margin-right: 30px;
    margin-top: 38px;
    border-bottom: 2px solid #F5F5F5;
    background: #FFFFFF;
    float: left;
    padding-top: 25px;      
 }

 .section2,
 .section3{
    margin-top: 80px;
    overflow: hidden;
 }

 .product-list {
    background: #E0E0E0;
    padding: 20px 0;
 }

 .product-list h4 {
    font-size: 14px;
    line-height: 20px;  
 }

 .btn2 {
    display: inline-block;
    width: 130px;
    height: 35px;
    border-radius: 30px;
    padding: 9px;
    border: 2px solid #F13C6E;
    color: white;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    background: #F13C6E;
    text-align: center;   
}

.buy{
    padding: 25px 0;
}

.getbonus{
   margin-right: 30px;
}

.getbonus, 
.visit{ 
    margin-top: 100px;
    width: 540px;
    height: 212px;
    background: #F13C6E;
    display: inline-block;
    color: white;
    margin-bottom: 100px;
}
.visit{
    position: relative;
    z-index: 3;
    overflow: hidden;
    padding:35px 45px 35px 40px ;
    }

.getbonus{
    position: relative;
    z-index: 3;
    overflow: hidden;
    padding:35px 45px 35px 40px ;
}

.getbonus img{
    position: absolute;
    z-index: 4; 
    top:36px;
    right: 45px;
    bottom: 36px;   
} 

.getget>p{
    font-size: 14px;
    line-height: 20px;
}

.getget>h3{
    font-size: 18px;
    line-height: 21px;
}

.storemap>h3{
    font-size: 18px;
    line-height: 21px;
}

.storemap>p{
    font-size: 14px;
    line-height: 20px;
}

.visit img{
    position: absolute;
    z-index: 4; 
    top:56px;
    right: 45.33px;
    bottom: 56px;
} 

#email{
    border-radius:30px ;
    text-align: center;
    background: #FFFFFF;
    width: 225px;
    height: 35px;
    border: 1px solid white;    
}

input::placeholder{
    color:#C4C4C4;
    font-size: 14px;
    line-height: 16px;
    padding: 9px 95px 9px 25px ;
}

.table1{
    margin:0 auto
}

table{
    border: 1px solid #EFEFEF;
    width: 100%;   
}

tr,td{
    border: 1px solid #EFEFEF;
    background: #FFFFFF;
} 

td{
    padding: 35px 55px;
}

.menu>li{
    margin-top: 19px;  
}

.menu li:first-child{
    margin-top: 25px;
}

.menu a,li {
    list-style: none;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    color: #828282;   
} 

.menu{
    margin-left: -40px;
    padding-bottom: 60px;
}

.section3{
    margin-bottom: 81px;   
}

.section3>h2{
    display: block;
    font-size: 24px;
    line-height: 28px;
}

.categories{
    width: 255px;
    margin-right: 30px; 
    background: white;
    float: right;
    display: inline-block;     
 }

 .footerr{
    overflow: hidden;
    background-color:  white;
 }

.categories>h3{
    padding-top:60px ;
    padding-bottom: 20px;
    border-bottom:1px solid #EFEFEF ;
    width: 255px; 
    font-size: 16px;
}

.facebook, .insta, .youtube{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #F13C6E;
    text-align: center;   
}

#ytb{
    padding-top:15px ;
    max-width: 100%;
    height: auto;
}

#fc,  #inst {
    padding-top: 10px;
    max-width: 100%;
    height: auto;
}

.youtube, .facebook, .insta{
    display: inline-block;
    margin-right: 20px;
} 

.socialcontact{
    padding-top: 38px;
    border: 1px solid #EFEFEF;
    padding-bottom: 38px;
}
   
.call1{
    float: right;  
}

.policy a{
    float: right; 
}

.policy a {
    padding-bottom: 25px;
    padding-top: 25px;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    text-decoration: none;
}

.policy span {
    display: inline-block;
    padding-bottom: 25px;
    padding-top: 25px;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
}